{% extends "pharm_tree/base.html" %}
{% load static %}
{% block content %}
        <h1>Welcome to the recipes page</h1>
        <br></br>
        <table class="table table-bordered table-grey">
                <thead>
                  <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Pacient</th>
                    <th scope="col">Date of Renew</th>
                    <th scope="col">Drug</th>
                  </tr>
                </thead>
                <tbody>
                 
                </div>
                  {% for rcp in list_recipes %}
                  <tr>
                    <th scope="row">{{rcp.id}}</th>

                    <td>{{rcp.name_pacient_recipe}}</td>
                    <td>{{rcp.date_of_renew}}</td>
                      {% for drg in rcp.drugs.all %} 
                          <td>{{drg}}</td>
                      {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <br></br>
              <div class="pagination">
                <span class="step-links">
                    {% if list_recipes.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ list_recipes.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ list_recipes.number }} of {{ list_recipes.paginator.num_pages }}.
                    </span>
            
                    {% if list_recipes.has_next %}
                        <a  href="?page={{ list_recipes.next_page_number }}">next</a>
                        <a  href="?page={{ list_recipes.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
{% endblock content %}

