{% block registerModal %}
<!-- ======= Register Modal ======= -->
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content about">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Register</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="user-buttons">
                <div class="modal-footer d-flex justify-content-center content" id="div-walker">
                    <button class="btn btn-learn-more" id="walker">I want to register as Walker     </button>
                </div>
                <div class="modal-footer d-flex justify-content-center content" id="div-owner">
                    <button class="btn btn-learn-more" id="owner">I want to register as Pet Owner</button>
                </div>
            </div>
           <!-- Walker form -->
            <form class="form-group walker" action ="{% url 'create_walker' %}" method="POST" enctype="multipart/form-data" style="display: none">
                {% csrf_token %}
                <div class="modal-body mx-3">
                    <div class="md-form mb-4"  style="padding-top: 20px">
                        <i class="icofont-user-alt-3" style="color: #006fbe; float: left; font-size: 30px; padding-right: 5px"></i>
                        <input type="text" name="name" id="walkerForm-name" class="form-control validate" required placeholder="Your name" style="width: 90%; border-color: #006fbe">
                        <label data-error="wrong" data-success="right" for="walkerForm-name"></label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="icofont-clock-time" style="color: #006fbe; float: left; font-size: 30px; padding-right: 5px"></i>
                        <input type="text" name="age" id="walkerForm-age" class="form-control validate" required placeholder="Your age" style="width: 30%; border-color: #006fbe">
                        <label data-error="wrong" data-success="right" for="walkerForm-age"></label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="icofont-envelope " style="color: #006fbe; float: left; font-size: 30px; padding-right: 5px"></i>
                        <input type="email" name="email" id="walkerForm-email" class="form-control validate" required placeholder="Your email" style="width: 90%; border-color: #006fbe">
                        <label data-error="wrong" data-success="right" for="walkerForm-email"></label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="icofont-lock prefix grey-text" style="color: #006fbe; font-size: 30px; float: left; padding-right: 5px"></i>                       
                        <input type="password" name="password" id="walkerForm-pass" class="form-control validate" required placeholder="Your password" style="width: 90%; border-color: #006fbe">
                        <label data-error="wrong" data-success="right" for="walkerForm-pass"></label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="icofont-camera" style="color: #006fbe; font-size: 30px; float: left; padding-right: 5px"></i>
                        <label for="myfile">Select image:</label>
                        <input type="file" class="form-control-file" name="photo" id="walkerForm-photo" required >
                        <label data-error="wrong" data-success="right" for="walkerForm-photo"></label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="icofont-phone" style="color: #006fbe; font-size: 30px; float: left; padding-right: 5px"></i>                       
                        <input type="text" name="phone" id="walkerForm-phone" class="form-control validate" required placeholder="Your phone number" style="width: 90%; border-color: #006fbe">
                        <label data-error="wrong" data-success="right" for="walkerForm-phone"></label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="icofont-book" style="color: #006fbe; font-size: 30px; float: left; padding-right: 5px"></i>                       
                        <textarea type="text" name="description" id="walkerForm-description" class="form-control validate" placeholder="Tell us something about yourself" style="width: 90%; border-color: #006fbe"></textarea>
                        <label data-error="wrong" data-success="right" for="walkerForm-description"></label>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center content">
                    <button class="btn btn-learn-more" type="submit">Register</button>
                </div>
            </form>
            <!-- End Walker form -->

            <!-- Owner form -->
            <form class="form-group owner" action ="{% url 'create_owner' %}" method="POST" enctype="multipart/form-data" style="display: none">
                {% csrf_token %}
                <div class="modal-body mx-3">
                    <div class="md-form mb-4"  style="padding-top: 20px">
                        <i class="icofont-user-alt-3" style="color: #006fbe; float: left; font-size: 30px; padding-right: 5px"></i>
                        <input type="text" name="name" id="ownerForm-name" class="form-control validate" required placeholder="Your name" style="width: 90%; border-color: #006fbe">
                        <label data-error="wrong" data-success="right" for="ownerForm-name"></label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="icofont-clock-time" style="color: #006fbe; float: left; font-size: 30px; padding-right: 5px"></i>
                        <input type="text" name="age" id="ownerForm-age" class="form-control validate" required placeholder="Your age" style="width: 30%; border-color: #006fbe">
                        <label data-error="wrong" data-success="right" for="ownerForm-age"></label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="icofont-envelope " style="color: #006fbe; float: left; font-size: 30px; padding-right: 5px"></i>
                        <input type="email" name="email" id="ownerForm-email" class="form-control validate" required placeholder="Your email" style="width: 90%; border-color: #006fbe">
                        <label data-error="wrong" data-success="right" for="ownerForm-email"></label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="icofont-lock prefix grey-text" style="color: #006fbe; font-size: 30px; float: left; padding-right: 5px"></i>                       
                        <input type="password" name="password" id="ownerForm-pass" class="form-control validate" required placeholder="Your password" style="width: 90%; border-color: #006fbe">
                        <label data-error="wrong" data-success="right" for="ownerForm-pass"></label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="icofont-camera" style="color: #006fbe; font-size: 30px; float: left; padding-right: 5px"></i>
                        <label for="myfile">Select image:</label>
                        <input type="file" class="form-control-file" name="photo" id="ownerForm-photo" required >
                        <label data-error="wrong" data-success="right" for="ownerForm-photo"></label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="icofont-phone" style="color: #006fbe; font-size: 30px; float: left; padding-right: 5px"></i>                       
                        <input type="text" name="phone" id="ownerForm-phone" class="form-control validate" required placeholder="Your phone number" style="width: 90%; border-color: #006fbe">
                        <label data-error="wrong" data-success="right" for="ownerForm-phone"></label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="icofont-globe-alt" style="color: #006fbe; font-size: 30px; float: left; padding-right: 5px"></i>                       
                        <textarea type="text" name="address" id="ownerForm-address" class="form-control validate" required placeholder="Street no, Street name, city, country, zip code" style="width: 90%; border-color: #006fbe"></textarea>
                        <label data-error="wrong" data-success="right" for="ownerForm-address"></label>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center content">
                    <button class="btn btn-learn-more" type="submit">Register</button>
                </div>
            </form>
            <!-- End Owner form -->
        </div>
    </div>
</div>
<!-- End Register Modal -->
{% endblock %}

