{% extends 'base.html' %}

{% load static %}

{% block title %}
> Pets 
{% endblock %}

{% load humanize %}

{% block content %}
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>Pets</h2>
                    <ol>
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li>Pets</li>
                    </ol>
                </div>
            </div>
            
        </section>
        <!-- End Breadcrumbs -->

        <!-- Search Section -->
        <section id="showcase">
            <div class="container text-center about card" style="border-color: #006fbe">
                <div class="search content">
                    <form action="{% url 'search' %}" style="padding-top:20px">

                        <!-- Form Row 1 -->
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <input type="text" name="keywords" class="form-control" placeholder="Keyword">
                            </div>
                            <div class="col-md-4 mb-3">
                                <select name="genders" class="form-control">
                                    <option selected="true" disabled="disabled">Gender</option>
                                    {% for gender in genders %}
                                    <option value="{{ gender }}">{{ gender }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4 mb-3">
                                <select name="sizes" class="form-control" id="type">
                                    <option selected="true" disabled="disabled">Size</option>
                                    {% for size in sizes %}
                                    <option value="size">{{ size }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <!-- Form Row 2 -->
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <input type="checkbox" name="is_friendly_with_dogs" id="is_friendly_with_dogs" value="dogs">
                                <label for="is_friendly_with_dogs">Is friendly with dogs</label>
                            </div>
                            <div class="col-md-4 mb-3">
                                <input type="checkbox" name="is_vaccinated" id="is_vaccinated">
                                <label for="is_vaccinated">Is vaccinated</label>
                            </div>
                            <div class="col-md-4 mb-3">
                                <input type="checkbox" name="is_microchipped" id="is_microchipped">
                                <label for="is_microchipped">Is microchipped</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-4 text-center">
                            </div>
                            <div class="col-md-4 mb-4 text-center">
                                <button class="btn btn-learn-more btn-block mt-4" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- ======= Pet List Section ======= -->
        <section id="event-list" class="event-list">
            <div class="container">
                <div class="row">
                {% if pets %}
                    {% for pet in pets %}

                    <!-- ======= Pet Section ======= -->
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="card">
                            <div class="card-img">
                                <img src="{{ pet.main_photo.url }}" alt="..." width="540px" height="360px">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ pet.name }}</h5>
                                <p class="font-italic text-center">Owner: {{ pet.owner }}</p>
                                <p class="font-italic text-center">Size: {{ pet.size }}</p>
                                <p class="font-italic text-center">Age: {{ pet.age | apnumber}} year(s)</p>
                                <p class="card-text">{{ pet.description }}</p>
                                <div class="about" style="text-align:center; bottom: 10px; margin-top: auto">
                                    <div class="content">
                                        <a href="{% url 'pet_details' pet.id %}" class="btn-learn-more">More Details</a>
                                    </div>                                   
                                </div>                             
                            </div>
                        </div>
                    </div>
                    <!-- End Pet Section -->

                    {% endfor %}
                {% else %}

                    <!-- ======= Empty List Section ======= -->
                    <div class="col-md-12">
                        <p>No Pets Available</p>
                    </div>
                    <!-- End Empty List Section -->

                {% endif %}
                </div>
            </div>
        </section>
        <!-- End Pet List Section -->

        <!-- Pagination Section -->
        <section id="pagination" class ="container text-xs-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-md justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                    </li>
                    {% endif %}
                    {% for page in page_obj.paginator.page_range %}
                    <li 
                        {% if page_obj.number == page %}
                            class="page-item active"
                        {% else %}
                            class="page-item"
                        {% endif %}
                    >
                        <a class="page-link" href="?page={{page}}">{{ page }}</a>
                    </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </section>
        <!-- End Pagination Section -->

    </main>
    <!-- End #main -->

{% endblock %}