{% extends 'base.html' %}

{% load static %}

{% block title %}
> Profile 
{% endblock %}

{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Profile</h2>
                <ol>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li>Profile</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <section id="profile" class = "container align-items-center text-xs-center">
      <div class="content  about justify-content-center align-items-center row">
        <div class="col-md-12">
          <h3>Hello, {{user.name}}</h3>
        </div>
        <div class="col-md-12">
          <img src="{{ user.photo.url }}" class="img-fluid" alt="" height="145px" width="218px">
        </div>
      </div>
    </section>
    
    {% if owner %}
    <section id="add_pet" class="about">
        <div class="modal-footer d-flex justify-content-center content pet-button" id="div-pet">
            <button class="btn btn-learn-more" id="add_pet">Add your Pet(s)</button>
        </div>
    </section>
    
    <section id="add_pet_form" style="display: none">
        <div class="container about">
            <form class="form-group owner" method="POST" enctype="multipart/form-data"  action="{% url 'add_pet' %}">
                {% csrf_token %}
                <div class="modal-body mx-3 about">
                    <div class="md-form mb-4"  style="padding-top: 20px">
                        <i class="icofont-user-alt-3" style="color: #006fbe; float: left; font-size: 30px; padding-right: 5px"></i>
                        <input type="text" name="name" id="petForm-name" class="form-control validate" required placeholder="Your pet's name" style="width: 90%; border-color: #006fbe">
                        <label data-error="wrong" data-success="right" for="petForm-name"></label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="icofont-clock-time" style="color: #006fbe; float: left; font-size: 30px; padding-right: 5px"></i>
                        <input type="text" name="age" id="petForm-age" class="form-control validate" required placeholder="Age" style="width: 30%; border-color: #006fbe">
                        <label data-error="wrong" data-success="right" for="petForm-age"></label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="icofont-camera" style="color: #006fbe; font-size: 30px; float: left; padding-right: 5px"></i>
                        <label for="myfile">Select image:</label>
                        <input type="file" class="form-control-file" name="main_photo" id="petForm-main_photo" required >
                        <label data-error="wrong" data-success="right" for="petForm-main_photo"></label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="icofont-info-circle" style="color: #006fbe; font-size: 30px; float: left; padding-right: 5px"></i>                       
                        <input type="text" name="breed" id="petForm-breed" class="form-control validate" required placeholder="Breed" style="width: 90%; border-color: #006fbe">
                        <label data-error="wrong" data-success="right" for="petForm-breed"></label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="icofont-info-circle" style="color: #006fbe; font-size: 30px; float: left; padding-right: 5px"></i>                       
                        <textarea type="text" name="description" id="petForm-description" class="form-control validate" placeholder="Description" style="width: 90%; border-color: #006fbe"></textarea>
                        <label data-error="wrong" data-success="right" for="petForm-description"></label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="icofont-info-circle" style="color: #006fbe; font-size: 30px; float: left; padding-right: 5px"></i>                       
                        <textarea type="text" name="special_needs" id="petForm-special_needs" class="form-control validate" placeholder="Special needs" style="width: 90%; border-color: #006fbe"></textarea>
                        <label data-error="wrong" data-success="right" for="petForm-special_needs"></label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="checkbox" name="is_friendly_with_dogs" id="is_friendly_with_dogs">
                        <label for="is_friendly_with_dogs">Is friendly with dogs</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="checkbox" name="is_vaccinated" id="is_vaccinated">
                        <label for="is_vaccinated">Is vaccinated</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="checkbox" name="is_microchipped" id="is_microchipped">
                        <label for="is_microchipped">Is microchipped</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="checkbox" name="is_friendly_with_cats" id="is_friendly_with_cats">
                        <label for="is_friendly_with_dogs">Is friendly with cats</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="checkbox" name="is_neutered" id="is_neutered">
                        <label for="is_neutered">Is neutered</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="checkbox" name="is_friendly_with_kids" id="is_friendly_with_kids">
                        <label for="is_friendly_with_kids">Is friendly with kids</label>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center content">
                    <button class="btn btn-learn-more" type="submit">Add</button>
                </div>
            </form>
        </div>
    </section>

    <section id="pets" class="py-4">
        <div class="container">
          <div class="row about">
            <div class="col-md-12 content">
              {% if pets %}
                <p>Here are your pets</p>
                <table class="table content">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Pet description</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for pet in pets %}
                      <tr>
                        <td>{{ pet.name }}</td>
                        <td>{{ pet.description }}</td>
                        <td>
                          <a class="btn btn-learn-more" href="{% url 'pet_details' pet.id %}">View Pet</a>
                        </td>
                      </tr>
                    {% endfor%}
                  </tbody>
                </table>
                {% else %}
                  <p>You have no Pets</p>
                {% endif %}
            </div>
          </div>
        </div>
    </section>
    {% endif %}

    {% if walker %}
    <section id="appointments" class="py-4">
        <div class="container">
          <div class="row about">
            <p>Here are your Appointments</p>
            <div class="col-md-12 content">
              {% if appointments %}
                <table class="table content">
                  <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Pet name</th>
                      <th scope="col">Pet address</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for appointment in appointments %}
                      <tr>
                        <td>{{ appointment.date }}, {{appointment.time}}</td>
                        <td>{{ appointment.pet }}</td>
                        <td>{{ appointment.pet.owner.address }}</td>
                        <td>
                          <a class="btn btn-learn-more" href="{% url 'pet_details' appointment.pet.id %}">View Pet</a>
                        </td>
                      </tr>
                    {% endfor%}
                  </tbody>
                </table>
                {% else %}
                  <p>You have no Appointments</p>
                {% endif %}
            </div>
          </div>
        </div>
    </section>
    {% endif %}
</main>

{% endblock %}