{% extends 'base.html' %}

{% load static %}

{% block title %}
> Walkers 
{% endblock %}

{% load humanize %}

{% block content %}
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>Pets</h2>
                    <ol>
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li>Walkers</li>
                    </ol>
                </div>
            </div>
            
        </section>
        <!-- End Breadcrumbs -->


        <!-- ======= Walker List Section ======= -->
        <section id="event-list" class="event-list">
            <div class="container">
                <div class="row">
                {% if object_list %}
                    {% for walker in object_list %}

                    <!-- ======= Walker Section ======= -->
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="card">
                            <div class="card-img" style="text-align: center">
                                <img src="{{ walker.photo.url }}" alt="..." width="540px" height="360px">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ walker.name }}</h5>
                                <p class="font-italic text-center">Age: {{ walker.age | apnumber}} year(s)</p>
                                <p class="font-italic text-center">Member since: {{ walker.date_added | naturaltime}}</p>
                                <p class="font-italic text-center">Rating: {{ walker.rating }} stars</p>
                                <p class="card-text">{{ walker.description }}</p>
                                <div class="about" style="text-align:center; bottom: 10px; margin-top: auto">
                                    <div class="content">
                                        <a href="{% url 'walker_details' walker.id %}" class="btn-learn-more">More Details</a>
                                    </div>                                   
                                </div>                             
                            </div>
                        </div>
                    </div>
                    <!-- End Walker Section -->

                    {% endfor %}
                {% else %}

                    <!-- ======= Empty List Section ======= -->
                    <div class="col-md-12">
                        <p>No Walkers available</p>
                    </div>
                    <!-- End Empty List Section -->

                {% endif %}
                </div>
            </div>
        </section>
        <!-- End Walker List Section -->

        <!-- Pagination Section -->
        <section id="pagination" class="container text-xs-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-md justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                    </li>
                    {% endif %}
                    {% for page in page_obj.paginator.page_range %}
                    <li 
                        {% if page_obj.number == page %}
                            class="page-item active"  
                        {% else %}
                            class="page-item"
                        {% endif %}
                    >
                        <a class="page-link" href="?page={{page}}">{{ page }}</a>
                    </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </section>
        <!-- End Pagination Section -->


    </main>
    <!-- End #main -->

{% endblock %}