<h1>All items</h1>
 
{% extends 'recipes/base.html'%}
 
{% block content %}

<section id="items" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Available Items</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Quantity</th>
                <th scope="col">Distributor</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            {% for item in items %}
              <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.distributor }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
{% endblock %}