
{% extends 'recipes/base.html'%}

{% block content %}
<html>
<head>
<title>Create Item </title>
</head>

<body>
    
    <section id="create_item">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="card">
                <div class="card-header bg-primary text-white">
                  <h4>
                    <i class="fas fa-sign-in-alt"></i> Create item</h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'create_item' %}" method="POST">
                        {% csrf_token %}
                    <div class="form-group">
                      <label for="title">Title</label>
                      <input type="text" name="title" class="form-control" required>
                    </div>
    
                    <div class="form-group">
                      <label for="description">Description</label>
                      <input type="text" name="description" class="form-control" required>
                    </div>
 
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="text" name="quantity" class="form-control" required>
                    </div>
 
                    <div class="form-group">
                        <label for="distributor">Distributor</label>
                        <select name="distributor" id="distributor" class="form-control" required>
                            {% for distributor in distributors %}
                          <option value="{{ distributor.title }}">{{ distributor.title }}</option>
                        {% endfor %}
                        </select> 
                    </div>
                    
                    <input type="submit" value="Create" class="btn btn-primary btn-block">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </body>

</html>
{% endblock %}

<label class="required" for="id_distributor">Distributor:</label>