-- Beer Calculator App Requirements --


Create an application that calculates the cost of a beer recipe based on the used ingredients.

The application will have the following page:
- Ingredients
- Add Ingredient
- Recipes
- Add Recipe
- Recipe Costs

--Ingredients--
The user will be able see all ingredients
The user will be able to add a new ingredient with a dedicated form.
Each ingredient will have a name, a type, a quantity in grames, a price in RON for 100 grames and a date of update.
The list of ingredient types will be pre-defined.

--Recipes--
The user will be able to see all recipes and to add a new recipe.
The user will be able to add a new recipe with a dedicated form.
Each recipe will have a name, a type, one or more ingredients and a date of update.
The list of recipe types will be pre-defined.


--Costs--
The user will be able to select a recipe, input the quantity of each ingredient needed in the recipes and calculate the recipe costs based on the price for 100 g.


The Admin view will be activated for Ingredients, Ingredient Types, Recipes, Recipe Types and Recipe Costs.