{% extends 'base.html' %}
{% load static %}
{% block index %} 
<div class="middle">
   <h2 style="text-align: center;font-size: xx-large;">Welcome to the Orders Application.</h2>
   <hr>
   <p>The Order Applications can help you manage your existing customers, products, and orders.
      On the Customers page you can see a list of all existing customers and you can also add a new customer.
      The Products page will display all available for sale products, with a stock greater than 0. New Products can be added.
      On the Orders page you can see a list of orders from the current year and new orders can be created.
   </p>
</div>
{% endblock %}