{% extends 'base.html' %}
{% load static%}
{% block orders%}   
<h1>List of all orders from the current year.</h1>
<table class="center">
   <tr>
      <th>Order Code</th>
      <th>Order Date</th>
      <th>Customer Name</th>
      <th>Product Name</th>
      <th>Quantity</th>
      {% for order in orders %}
   </tr>
   <tr>
      <td>
         <p>{{order.id}}</p>
      </td>
      <td>
         <p>{{order.order_date}}</p>
      </td>
      <td>
         <p>{{order.customer.customer_name}}</p>
      </td>
      <td>
         <p>{{order.product.name}}</p>
      </td>
      <td>
         <p>{{order.quantity}}</p>
      </td>
   </tr>
   {% endfor %}
</table>
<div class="row">
   <div class="col-md-4"></div>
<div class="col-md-4">
<form method="POST" action="{% url 'add_order' %}">
   {% csrf_token %}
   <h1> Add a new Order</h1>
   <select type="text" name="customer" required>
      <option value="" selected disabled hidden>Choose customer</option>
      {% for customer in customers %}
      <option value="{{customer.customer_name}}">{{customer.customer_name}}</option>
      {% endfor %}
   </select>
   
   <select type="text" name="product" required>
      <option value="" selected disabled hidden>Choose product</option>
      {% for product in products %}
      <option value="{{product.name}}">{{product.name}}</option>
      {% endfor %}
   </select>
   <input type="number" id="quantity" placeholder="Enter quantity:" name="quantity" required>
   <input type="submit" value="Submit Order" onclick="return confirm('Submit order?Please Confirm.')">
</form>
</div>
<div class="col-md-4"></div>
</div>
{% endblock%}