{% extends 'base.html' %}

{% block overview %}
{% if overview %}
<div class="col-lg-8 col-md-8 col-8" style='margin: auto;'>
    <section class='welcome-title'>

        <h2>Welcome, {{user.username}}</h2>

    </section>
    <section class="">
        <div class="card-list">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="card">
                        <div class="title">Total balance</div>
                        <i class="zmdi zmdi-upload"></i>
                        <div class="value">${{overview.total_balance}}</div>
                        <div class="stat"><b>13</b>% increase</div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="card">
                        <div class="title">Total transactions</div>
                        <i class="zmdi zmdi-upload"></i>
                        <div class="value">${{overview.total_transactions}}</div>
                        <div class="stat"><b>4</b>% increase</div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="card">
                        <div class="title">Total income</div>
                        <i class="zmdi zmdi-download"></i>
                        <div class="value">${{overview.total_income}}</div>
                        <div class="stat"><b>13</b>% decrease</div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="card">
                        <div class="title">Total expenses</div>
                        <i class="zmdi zmdi-download"></i>
                        <div class="value">${{overview.total_expenses}}</div>
                        <div class="stat"><b>13</b>% decrease</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="second">
        <div class="monthly-budget income">
            <div class="budget-head clearfix">
                <div class="budget-type-heading">Accounts</div>
                <div class="budget-type-filter clearfix">
                    <div class="show-hide">
                        <span class="icon">
                            <svg width="12" height="11" viewBox="0 0 12 11" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 1H1L5 5.75V9L7 10V5.75L11 1Z" stroke="#00D498" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </span> Show
                    </div>
                    <div class="select-time">
                        <select>
                            <option>All</option>
                        </select>
                    </div>
                    <div class="expand-collapse">
                        collapse
                        <span class="icon">
                            <svg width="12" height="7" viewBox="0 0 12 7" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 6L6 1L1 6" stroke="#00D498" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </span>
                    </div>
                    <div class="more-option">
                        <svg width="3" height="13" viewBox="0 0 3 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="1.5" cy="11.5" r="1.5" transform="rotate(-90 1.5 11.5)" fill="#00D498" />
                            <circle cx="1.5" cy="6.5" r="1.5" transform="rotate(-90 1.5 6.5)" fill="#00D498" />
                            <circle cx="1.5" cy="1.5" r="1.5" transform="rotate(-90 1.5 1.5)" fill="#00D498" />
                        </svg>

                    </div>
                </div>
            </div>



            <div class="budget-body">
                <div class="type-of-revenu-head clearfix">
                    <div class="custom-date-time">Last updated: ----</div>
                </div>
                <div class="table-body">
                    <div class="table">
                        {% if accounts %}
                        <table>
                            <thead>
                                <tr>
                                    <td>
                                        Name
                                        <span class="order up">
                                            <span class="up-arrow">
                                                <svg width="6" height="4" viewBox="0 0 6 4" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.5" d="M1 3L3 1L5 3" stroke="white"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>

                                            </span>
                                            <span class="down-arrow">
                                                <svg width="6" height="4" viewBox="0 0 6 4" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.5" d="M5 1L3 3L1 1" stroke="white"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>

                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        Balance
                                        <span class="order up">
                                            <span class="up-arrow">
                                                <svg width="6" height="4" viewBox="0 0 6 4" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.5" d="M1 3L3 1L5 3" stroke="white"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>

                                            </span>
                                            <span class="down-arrow">
                                                <svg width="6" height="4" viewBox="0 0 6 4" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.5" d="M5 1L3 3L1 1" stroke="white"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>

                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        Currency
                                        <span class="order up">
                                            <span class="up-arrow">
                                                <svg width="6" height="4" viewBox="0 0 6 4" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.5" d="M1 3L3 1L5 3" stroke="white"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>

                                            </span>
                                            <span class="down-arrow">
                                                <svg width="6" height="4" viewBox="0 0 6 4" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.5" d="M5 1L3 3L1 1" stroke="white"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>

                                            </span>
                                        </span>
                                    </td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for account in accounts %}
                                <tr>
                                    <td>
                                        <input type="text" value="{{ account.name}}">
                                    </td>
                                    <td>
                                        <input type="text" value="{{ account.balance}}">
                                    </td>
                                    <td>
                                        <input type="text" value="{{ account.currency}}">
                                    </td>
                                    <td>
                                        <div class="option clearfix">

                                            <div class="cm-edit">
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M17.2 12.4308V17.2008C17.2 18.1908 16.39 19.0008 15.4 19.0008H2.8C1.81 19.0008 1 18.1908 1 17.2008V4.60078C1 3.61078 1.81 2.80078 2.8 2.80078H7.57"
                                                        stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                                    <path d="M15.4004 1L19.0004 4.6L10.0004 13.6H6.40039V10L15.4004 1Z"
                                                        stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>

                                            </div>
                                            <div class="cm-delete">
                                                <form action="{% url 'delete_account'  account.pk %}" method="POST">
                                                    {% csrf_token %}
                                                    <button class="btn-delete">
                                                    <svg width="11" height="12" viewBox="0 0 11 12" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M1 3H2H10" stroke="white" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                        <path
                                                            d="M3.5 3V2C3.5 1.45 3.95 1 4.5 1H6.5C7.05 1 7.5 1.45 7.5 2V3M9 3V10C9 10.55 8.55 11 8 11H3C2.45 11 2 10.55 2 10V3H9Z"
                                                            stroke="white" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                        <path d="M4.5 5.5V8.5" stroke="white" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                        <path d="M6.5 5.5V8.5" stroke="white" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                    </svg>
                                                </button>


                                                </form>
                                            </div>
                                            <div class="cm-more-option">
                                                <a style="display: block; width: 20px; text-align: center;" href=""><svg
                                                        width="3" height="13" viewBox="0 0 3 13" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <circle cx="1.5" cy="11.5" r="1.5"
                                                            transform="rotate(-90 1.5 11.5)" fill="white" />
                                                        <circle cx="1.5" cy="6.5" r="1.5"
                                                            transform="rotate(-90 1.5 6.5)" fill="white" />
                                                        <circle cx="1.5" cy="1.5" r="1.5"
                                                            transform="rotate(-90 1.5 1.5)" fill="white" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>




                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p>No accounts available.</p>
                        {% endif %}
                        <div class="add-more">
                            <a data-toggle="modal" href="#accountModal"><span class=" icon">
                                <svg width="14" height="14" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6 11C8.76142 11 11 8.76142 11 6C11 3.23858 8.76142 1 6 1C3.23858 1 1 3.23858 1 6C1 8.76142 3.23858 11 6 11Z"
                                        stroke="#00D498" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M6 4V8" stroke="#00D498" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M4 6H8" stroke="#00D498" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                </span> Add account </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="second">
        <div class="monthly-budget income">
            <div class="budget-head clearfix">
                <div class="budget-type-heading">Transactions</div>
                <div class="budget-type-filter clearfix">
                    <div class="more-option">
                        <svg width="3" height="13" viewBox="0 0 3 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="1.5" cy="11.5" r="1.5" transform="rotate(-90 1.5 11.5)" fill="#00D498" />
                            <circle cx="1.5" cy="6.5" r="1.5" transform="rotate(-90 1.5 6.5)" fill="#00D498" />
                            <circle cx="1.5" cy="1.5" r="1.5" transform="rotate(-90 1.5 1.5)" fill="#00D498" />
                        </svg>

                    </div>
                </div>
            </div>
            <div class="budget-body">
                <div class="type-of-revenu-head clearfix">
                    <div class="custom-date-time">Last updated: ----</div>
                </div>
                <div class="table-body">

                    <div class="table">
                        {% if latest_transactions %}
                        <table>
                            <thead>
                                <tr>
                                    <td>
                                        Name
                                        <span class="order up">
                                            <span class="up-arrow">
                                                <svg width="6" height="4" viewBox="0 0 6 4" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.5" d="M1 3L3 1L5 3" stroke="white"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>

                                            </span>
                                            <span class="down-arrow">
                                                <svg width="6" height="4" viewBox="0 0 6 4" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.5" d="M5 1L3 3L1 1" stroke="white"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>

                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        Amount
                                        <span class="order up">
                                            <span class="up-arrow">
                                                <svg width="6" height="4" viewBox="0 0 6 4" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.5" d="M1 3L3 1L5 3" stroke="white"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>

                                            </span>
                                            <span class="down-arrow">
                                                <svg width="6" height="4" viewBox="0 0 6 4" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.5" d="M5 1L3 3L1 1" stroke="white"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>

                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        Date
                                        <span class="order up">
                                            <span class="up-arrow">
                                                <svg width="6" height="4" viewBox="0 0 6 4" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.5" d="M1 3L3 1L5 3" stroke="white"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>

                                            </span>
                                            <span class="down-arrow">
                                                <svg width="6" height="4" viewBox="0 0 6 4" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.5" d="M5 1L3 3L1 1" stroke="white"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>

                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        Type
                                        <span class="order up">
                                            <span class="up-arrow">
                                                <svg width="6" height="4" viewBox="0 0 6 4" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.5" d="M1 3L3 1L5 3" stroke="white"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>

                                            </span>
                                            <span class="down-arrow">
                                                <svg width="6" height="4" viewBox="0 0 6 4" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.5" d="M5 1L3 3L1 1" stroke="white"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>

                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        Subtype
                                        <span class="order up">
                                            <span class="up-arrow">
                                                <svg width="6" height="4" viewBox="0 0 6 4" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.5" d="M1 3L3 1L5 3" stroke="white"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>

                                            </span>
                                            <span class="down-arrow">
                                                <svg width="6" height="4" viewBox="0 0 6 4" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.5" d="M5 1L3 3L1 1" stroke="white"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>

                                            </span>
                                        </span>
                                    </td>
                                    <td>Account</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaction in latest_transactions %}
                                <tr>
                                    <td>
                                        <input type="text" value="{{ transaction.comment }}">
                                    </td>
                                    <td>
                                        <input type="text"
                                            value="{{transaction.account.currency}}&nbsp;{{transaction.amount}}">
                                    </td>
                                    <td>
                                        <input type="text" value="{{ transaction.date }}">
                                    </td>
                                    <td>
                                        <select value="{{transaction_type}}">
                                            <option disabled  value = "" > -- none -- </option>
                                            <option >Deposit</option>
                                            <option >Withdrawl</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select>
                                            {% for subtype in subtypes %}
                                            {% if transaction.transaction_subtype.name == subtype.name %}
                                            <option selected>{{subtype.name}}</option>
                                            {% endif %}
                                            {% if transaction.transaction_subtype.name != subtype.name %}
                                            <option>{{subtype.name}}</option>
                                            {% endif %}

                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" value="{{ transaction.account.name }}">
                                    </td>
                                    <td>
                                        <div class="option clearfix">

                                            <div class="cm-edit">
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M17.2 12.4308V17.2008C17.2 18.1908 16.39 19.0008 15.4 19.0008H2.8C1.81 19.0008 1 18.1908 1 17.2008V4.60078C1 3.61078 1.81 2.80078 2.8 2.80078H7.57"
                                                        stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                                    <path d="M15.4004 1L19.0004 4.6L10.0004 13.6H6.40039V10L15.4004 1Z"
                                                        stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>

                                            </div>
                                            <div class="cm-delete">
                                                <form action="{% url 'delete_transaction'  transaction.pk %}" method="POST">
                                                    {% csrf_token %}
                                                    <button class="btn-delete">
                                                    <svg width="11" height="12" viewBox="0 0 11 12" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M1 3H2H10" stroke="white" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                        <path
                                                            d="M3.5 3V2C3.5 1.45 3.95 1 4.5 1H6.5C7.05 1 7.5 1.45 7.5 2V3M9 3V10C9 10.55 8.55 11 8 11H3C2.45 11 2 10.55 2 10V3H9Z"
                                                            stroke="white" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                        <path d="M4.5 5.5V8.5" stroke="white" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                        <path d="M6.5 5.5V8.5" stroke="white" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                    </svg>
                                                </button>


                                                </form>
                                            </div>
                                            <div class="cm-more-option">
                                                <a style="display: block; width: 20px; text-align: center;" href=""><svg
                                                        width="3" height="13" viewBox="0 0 3 13" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <circle cx="1.5" cy="11.5" r="1.5"
                                                            transform="rotate(-90 1.5 11.5)" fill="white" />
                                                        <circle cx="1.5" cy="6.5" r="1.5"
                                                            transform="rotate(-90 1.5 6.5)" fill="white" />
                                                        <circle cx="1.5" cy="1.5" r="1.5"
                                                            transform="rotate(-90 1.5 1.5)" fill="white" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p>No transactions available.</p>
                        {% endif %}

                        <div class="add-more">
                            {% if accounts %}
                            <a <a data-toggle="modal" href="#transactionModal"><span class="icon"> <span class="icon">
                                        <svg width="14" height="14" viewBox="0 0 12 12" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M6 11C8.76142 11 11 8.76142 11 6C11 3.23858 8.76142 1 6 1C3.23858 1 1 3.23858 1 6C1 8.76142 3.23858 11 6 11Z"
                                                stroke="#00D498" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M6 4V8" stroke="#00D498" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path d="M4 6H8" stroke="#00D498" stroke-linecap="round"
                                                stroke-linejoin="round" /> </svg>
                                    </span> Add transaction</a>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>

    {% include 'transactions/create_account.html' %}
    {% include 'transactions/create_transaction.html' %}

</div>

{% else %}
<p>No data available.</p>
{% endif %}
{% endblock %}